/* COLORS */
:root {
    --dark: #3C3926;
    --light: #E0DAC9;
    --accent: #E2552A;
    --clear: rgba(255, 255, 255, 0);
    --bernoru: bernoru;
    --jorick: jorick;
    --cabin: cabin;
}

/* FONTS */
@font-face {
    font-family: bernoru;
    src: url('../fonts/bernoru-blackultraexpanded.otf');
}

@font-face {
    font-family: jorick;
    src: url('../fonts/Jorick-Regular.ttf');
}

@font-face {
    font-family: cabin;
    src: url('../fonts/Cabin-VariableFont_wdth\,wght.ttf');
}

/* MAIN */
.about-page {
    /* outline: blue dashed 3px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.about-header {
    /* outline: blue dashed 3px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.about-header img {
    width: 75px;
}

h2 {
    font-family: var(--bernoru);
    font-size: 75px;
    color: var(--accent);
    margin: 20px 0 20x 0;
}

.about-main {
    /* outline: red dashed 3px; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
}

.bio {
    /* outline: green dashed 3px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 100%;
}

.bio p {
    /* outline: white dashed 3px; */
    font-family: var(--cabin);
    font-size: 25px;
    color: var(--light);
    text-align: center;
    line-height: 1.5;
    width: 60%;
}

.thank-you {
    font-weight: bolder !important;
    color: var(--accent) !important;
    border: var(--accent) solid 2px;
    padding: 10px;
    width: 80% !important;
}