/* Colors */
:root {
    --dark: #3C3926;
    --light: #E0DAC9;
    --accent: #E2552A;
    --bernoru: bernoru;
    --jorick: jorick;
    --cabin: cabin;
}

/* Fonts */
@font-face {
    font-family: bernoru;
    src: url('../fonts/bernoru-blackultraexpanded.otf');
}

@font-face {
    font-family: jorick;
    src: url('../fonts/Jorick-Regular.ttf');
}

@font-face {
    font-family: cabin;
    src: url('../fonts/Cabin-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: wildeo;
    src: url('../fonts/Wildeoo\ FREE.otf');
}

/*----- FOOTER -----*/
footer {
    /* outline: green dashed 3px; */
    display: flex;
    justify-content: center;
    align-items:last baseline;
    height: 100px;
  }
  
  .tag {
    /* outline: blue dashed 3px; */
    font-family: mooli;
    font-size: 15px;
    color: var(--dark);
  }
  
  .passion {
    font-family: wildeo;
    font-size: 40px;
  }
  
  .my-name {
    text-decoration: none;
    color: var(--dark);
  }