/* COLORS */
:root {
    --dark: #3C3926;
    --light: #E0DAC9;
    --accent: #E2552A;
    --bernoru: bernoru;
    --jorick: jorick;
    --cabin: cabin;
}

/* FONTS */
@font-face {
    font-family: bernoru;
    src: url('../fonts/bernoru-blackultraexpanded.otf');
}

@font-face {
    font-family: jorick;
    src: url('../fonts/Jorick-Regular.ttf');
}

@font-face {
    font-family: cabin;
    src: url('../fonts/Cabin-VariableFont_wdth\,wght.ttf');
}

/*---------- MAIN ----------*/
.home {
    /* outline: blue dashed 3px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.heading-container {
    /* outline: red dashed 3px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

h1 {
    font-family: var(--bernoru);
    font-size: 75px;
    color: var(--accent);
    text-align: center;
    margin: 0;
}

.intro p {
    font-family: var(--jorick);
    font-size: 50px;
    color: var(--light);
    text-align: center;
    margin: 0;
}

.rotating-star img {
    animation: spin 20s linear infinite;
    width: 150px;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  /* FONTS */
@font-face {
    font-family: bernoru;
    src: url('../fonts/bernoru-blackultraexpanded.otf');
}

@font-face {
    font-family: jorick;
    src: url('../fonts/Jorick-Regular.ttf');
}

@font-face {
    font-family: cabin;
    src: url('../fonts/Cabin-VariableFont_wdth\,wght.ttf');
}

/*---------- MEDIA QUERIES ----------*/
@media screen and (min-width: 430px) and (min-height: 932px) {

    /*--- MQ: HEADING ---*/
    
    .heading-container {
        /* outline: green dashed 2px; */
        flex-direction: column;
        width: 80%;
    }

    h1 {
        /* outline: blue dashed 2px; */
        font-size: 50px;
        text-align: left;
    }

    .intro p {
        font-size: 35px;
        text-align: left;
    }
    
    .rotating-star img {
        margin-top: 20px;
        width: 80px;
    }

}






