/* COLORS */
:root {
    --dark: #3C3926;
    --light: #E0DAC9;
    --accent: #E2552A;
    --clear: rgba(255, 255, 255, 0);
    --bernoru: bernoru;
    --jorick: jorick;
    --cabin: cabin;
}

/* FONTS */
@font-face {
    font-family: bernoru;
    src: url('../fonts/bernoru-blackultraexpanded.otf');
}

@font-face {
    font-family: jorick;
    src: url('../fonts/Jorick-Regular.ttf');
}

@font-face {
    font-family: cabin;
    src: url('../fonts/Cabin-VariableFont_wdth\,wght.ttf');
}

/* MAIN */
.projects-page {
    /* outline: blue dashed 3px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.projects-header {
    /* outline: blue dashed 3px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.projects-header img {
    width: 75px;
    margin-right: 5px;
}

.projects-main {
    /* outline: red dashed 3px; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
}

.all-projects {
    /* outline: red dashed 3px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 50px 0 50px 0;
}

.project-grid {
    /* outline: green dashed 3px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--jorick);
    font-size: 25px;
    text-align: center;
    color: var(--dark);
    height: 250px;
    width: 250px;
}

.project-card:hover .project-links-container {
    display: block;
}

.project-links-container {
    display: none;
}

.project-links {
    /* outline: green dashed 3px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.project-links a {
    font-family: var(--cabin);
    font-size: 20px;
    color: var(--dark);
    border: var(--dark) solid 2px;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
    padding: 5px;
}


.project-card:nth-child(even) .project-links a:hover {
    color: var(--light);
}

.project-card:nth-child(odd) .project-links a:hover {
    color: var(--accent);
}

.project-card:nth-child(even) {
    background-color: var(--accent);
}

.project-card:nth-child(odd) {
    background-color: var(--light);
}

/*---------- MEDIA QUERIES ----------*/
@media screen and (min-width: 430px) and (min-height: 932px) {

    /*-- MQ: HEADING --*/
    .projects-header {
        margin-top: 100px;
    }

    /*-- MQ: STAR --*/
    .projects-header img {
        width: 50px;
    }

    /*-- MQ: GRID --*/
    .project-grid {
        /* outline: green dashed 3px; */
        grid-template-columns: repeat(1, 1fr);
    }

    /*-- MQ: GRID CARD --*/
    .project-card {
        /* outline: green dashed 3px; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        width: 375px;
    }

    /*-- MQ: PROJECT HEADING --*/
    h3 {
        /* outline: red dashed 2px; */
        font-size: 30px;
        text-align: left;
        margin-left: 10px;
    }

    /*-- MQ: LINKS CONTAINER --*/
    .project-links-container {
        display: block;
    }

    /*-- MQ: LINKS --*/
    .project-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

}